<%= render 'nav' %>

<% if @template.google_fonts_embed.present? %>
  <% content_for :google_fonts do %>
    <%= raw @template.google_fonts_embed %>
  <% end %>
<% end %>


<%= render 'css', template: @template %>

<div class="row">
  <div class="col-md-6">
    <%= render 'preview_vote' %>
  </div>
  <div class="col-md-6">
    <%= render 'preview_ready' %>
  </div>
</div>
