<%= render 'admin/shows/nav' %>

<div id="polls" class="poll-cards">
  <% @polls.each do |poll| %>
    <%= turbo_frame_tag dom_id(poll) do %>
      <%= render "poll", poll: poll %>
    <% end %>
  <% end %>
</div>
<div class="row mt-2">
  <div class="col-12">
      <%= link_to new_admin_show_poll_path(@show), class: "btn btn-primary btn-sm w-100" do  %>
        <%= icon 'plus-circle', class: 'icon-text-white' %> Add Poll
      <% end %>
  </div>
</div>