<% content_for :sub_nav do %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to "Shows", admin_shows_path, class: 'navbar-brand' %>
        <% if @show.present? && @show.persisted? %>
          <%= link_to "##{@show.id} -  #{@show.name}", admin_show_path(@show),  class: 'navbar-brand' %>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSubNav" aria-controls="navbarSubNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSubNav">
          <ul class="navbar-nav me-auto">
            <% if @show.present? && @show.persisted? %>
              <li class="nav-item">
                <%= link_to "Edit", edit_admin_show_path(@show), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Polls", admin_show_polls_path(@show), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Attendees", attendees_admin_show_path(@show), class: "nav-link" %>
              </li>
            <% end %>
          </ul>

          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <%= link_to "List", admin_shows_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "New", new_admin_show_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<% end %>