 <div class="card mb-4">
  <div class="card-header">
      <%= show.name %><br>
      <small><%= showtime(show) %></small>
  </div>

  <ul class="list-group list-group-flush">
    <% show.polls.each do |poll| %>
    <li class="list-group-item">
      <%= poll.question %><br>
      <% if poll.subtitle.present? %>
        <small><%= poll.subtitle %></small><br>
      <% end %>

      <i><%= @attendee.answer_for(poll) %></i>
    </li>
    <% end %>
  </ul>

</div>