<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>API Key</th>
      <th>Last Logged In</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.api_token %></td>
        <td><%= user.last_sign_in_at %></td>
        <td>
          <%= link_to 'Show', admin_user_path(user) %>
          <%= link_to 'Edit', edit_admin_user_path(user) %>
          <%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>