<% if @live_stream.present? %>
  <%= turbo_stream_from 'live_stream_page_reload' %>
  <div id="live_stream_page_reload"></div>
<% else %>
  <%= turbo_stream_from 'show_page_reload' %>
  <div id="show_page_reload"></div>
<% end %>

<% if @show.template.present? %>
  <% content_for :show_css do %>
    <%= render 'admin/templates/css', template: @show.template %>
  <% end %>

  <% if @show.template.google_fonts_embed.present? %>
    <% content_for :google_fonts do %>
      <%= raw @show.template.google_fonts_embed %>
    <% end %>
  <% end %>

<% end %>

<% if @show.preshow? %>
  <%= render 'shows/pre_show', show: @show %>
<% elsif @show.postshow? %>
  <%= render 'shows/post_show', show: @show %>
<% elsif @show.live? && @show.active_polls? %>
  <%= render 'shows/poll', show: @show %>
<% elsif @show.live? %>
  <%= render 'shows/stand_by', show: @show %>
<% end %>

<% if @footer.present? || @show.footer.present? %>
  <div class="container-fluid template-heading py-3 text-center">
      <%= @show.footer.to_s %>
      <%= @footer %>
  </div>
<% end %>
