<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tin Can Live Administration" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag 'bootstrap', 'application', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <!-- CodeMirror -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/css/css.min.js"></script>
  </head>
  <%= render 'shared/analytics_code' %>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to "TCB // Live", admin_path,  class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <%= link_to "Shows", admin_shows_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Templates", "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Users", admin_users_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Attendees", "#", class: "nav-link" %>
            </li>
          </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn" %>
            </li>
        </ul>
        </div>
      </div>
    </nav>
    <%= content_for(:sub_nav) %>

    <div class="container mt-4">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
          <%= value %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <div>
      <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
          <span class="text-muted">© 2014-<%= Time.now.strftime("%Y")%> Tin Can Brothers</span><br>
          Logged in as <%= current_user.email %> (<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
)
        </div>
      </footer>

  </body>
</html>
